In [3]:
import pandas as pd
import numpy as np
# TASK 1
math_marks=pd.Series([80,90,60,90,50,80,70,90,60,100])
math_marks.index=np.arange(1,11)
math_marks

1      80
2      90
3      60
4      90
5      50
6      80
7      70
8      90
9      60
10    100
dtype: int64

In [4]:
# TASK 2
phy_marks=pd.Series([50,80,40,90,70,90,70,100,80,100],index=np.arange(1,11))
phy_marks

1      50
2      80
3      40
4      90
5      70
6      90
7      70
8     100
9      80
10    100
dtype: int64

In [5]:
total_score=math_marks+phy_marks
total_score[total_score>=150]
# These are the five students qualifying for the science olympiad.

2     170
4     180
6     170
8     190
10    200
dtype: int64

In [6]:
# TASK 3
score_diff=math_marks-phy_marks
score_diff

1     30
2     10
3     20
4      0
5    -20
6    -10
7      0
8    -10
9    -20
10     0
dtype: int64

In [7]:
# TASK 4
car_price=np.random.randint(30000,50000,20)
car_price

array([43126, 38509, 49823, 36348, 47983, 37943, 35347, 43237, 32771,
       33879, 48251, 47460, 33255, 49733, 44194, 30545, 37523, 37223,
       47214, 47968])

In [8]:
car_data=pd.Series(car_price,index=np.arange(101,121))
car_data

101    43126
102    38509
103    49823
104    36348
105    47983
106    37943
107    35347
108    43237
109    32771
110    33879
111    48251
112    47460
113    33255
114    49733
115    44194
116    30545
117    37523
118    37223
119    47214
120    47968
dtype: int32

In [9]:
#TASK 5
car_data_40k=car_data[car_data>40000]
car_data_40k
#These are the cars priced higher than $40000.

101    43126
103    49823
105    47983
108    43237
111    48251
112    47460
114    49733
115    44194
119    47214
120    47968
dtype: int32

In [10]:
#TASK 6
car_data0=car_data[10:16]
print(car_data0)
car_data0.max()
print('The highest price of the car between 111 to 116 is ',car_data0.max())

111    48251
112    47460
113    33255
114    49733
115    44194
116    30545
dtype: int32
The highest price of the car between 111 to 116 is  49733

In [11]:
# TASK 7
car_data1=car_data[(car_data>30000)&(car_data<40000)]
print('There are ',car_data1.size,' cars in the range of $30000 to $40000.')

There are  10  cars in the range of $30000 to $40000.

In [12]:
# TASK 8
avg=car_data.mean()
avg
car_data2=car_data[car_data>avg]
print('There are ',car_data2.size,' cars priced above the average price.')
print('These cars are\n',car_data2)

There are  10  cars priced above the average price.
These cars are
 101    43126
103    49823
105    47983
108    43237
111    48251
112    47460
114    49733
115    44194
119    47214
120    47968
dtype: int32

In [82]:
# TASK 9
car_data3=pd.Series([34000,45000,54000],index=np.arange(201,204))
car_data=car_data.append(car_data3)
car_data

101    40095.0
102    36200.0
103    38209.5
104    36284.0
105    41306.4
106    35193.0
107    35985.0
108    38814.3
109    43181.1
110    36366.0
111    39910.0
112    42342.3
113    32547.0
114    43663.5
115    36323.0
116    44062.2
117    33501.0
118    36516.0
119    35450.0
120    34080.0
201    34000.0
202    40500.0
203    48600.0
201    34000.0
202    45000.0
203    54000.0
dtype: float64

In [88]:
# TASK 10
print('The old price list\n',car_data)
car_data4=car_data.copy()
car_data4[car_data4>40000]=car_data4[car_data4>40000]*0.9
print('The new discounted price list,\n',car_data4)

The old price list
 101    40095.0
102    36200.0
103    38209.5
104    36284.0
105    41306.4
106    35193.0
107    35985.0
108    38814.3
109    43181.1
110    36366.0
111    39910.0
112    42342.3
113    32547.0
114    43663.5
115    36323.0
116    44062.2
117    33501.0
118    36516.0
119    35450.0
120    34080.0
201    34000.0
202    40500.0
203    48600.0
201    34000.0
202    45000.0
203    54000.0
dtype: float64
The new discounted price list,
 101    36085.50
102    36200.00
103    38209.50
104    36284.00
105    37175.76
106    35193.00
107    35985.00
108    38814.30
109    38862.99
110    36366.00
111    39910.00
112    38108.07
113    32547.00
114    39297.15
115    36323.00
116    39655.98
117    33501.00
118    36516.00
119    35450.00
120    34080.00
201    34000.00
202    36450.00
203    43740.00
201    34000.00
202    40500.00
203    48600.00
dtype: float64

In [89]:
# TASK 11
car_data1=car_data[(car_data>30000)&(car_data<40000)]
print('There are ',car_data1.size,' cars in the range of $30000 to $40000 before discount.')
car_data5=car_data4[(car_data4>30000)&(car_data4<40000)]
print('There are ',car_data5.size,' cars in the range of $30000 to $40000 after discount.')

There are  16  cars in the range of $30000 to $40000 before discount.
There are  23  cars in the range of $30000 to $40000 after discount.

In [92]:
# TASK 12
car_data6=car_data4.sort_values()
car_data6.head()

113    32547.0
117    33501.0
201    34000.0
201    34000.0
120    34080.0
dtype: float64