In [2]:
import pandas as pd
cp=pd.read_csv('car_prices.csv')
cp

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [8]:
# TASK 1
cp1=cp[cp.year==2014]
asp=cp1.groupby(by='make')['sellingprice'].mean()
print('The 5 manufacturers with lowest average selling price are:')
asp.sort_values()[0:5]

The 5 manufacturers with lowest average selling price are:

make
smart          8620.000000
FIAT          12585.109290
Mitsubishi    13502.323838
Kia           14341.490037
Volkswagen    14840.196850
Name: sellingprice, dtype: float64

In [7]:
# TASK 2
cp2=cp[(cp.condition>4.5)&(cp.make=='BMW')&((cp.year==2015)|(cp.year==2010))]
cp2.groupby(by='year')['sellingprice'].mean()

year
2010    23572.222222
2015    42994.685990
Name: sellingprice, dtype: float64

In [8]:
print('As we can see here the average selling price of BMW cars selling in 2010 is less than that in 2015.')

As we can see here the average selling price of BMW cars selling in 2010 is less than that in 2015.

In [18]:
# TASK 3
cp3=cp[(cp.interior=='black')|(cp.interior=='gray')]
x=cp3.groupby(by='interior')['mmr'].mean()
x
print('The difference between the average wholesale price of cars with black and gray interior colours is',(x['black']-x['gray']))

The difference between the average wholesale price of cars with black and gray interior colours is 4668.743510266328

In [22]:
# Task 4
cp4=cp[(cp.year>=2013)&(cp.year<=2015)]
y=cp4.groupby(by=['make','color']).size()
print('The color-wise count of cars of each manufacturer are as follows:\n',y)

The color-wise count of cars of each manufacturer are as follows:
 make        color
Acura       black       170
            blue         19
            brown         5
            burgundy     20
            charcoal      2
                       ...
volkswagen  —             1
vw          black         1
            gray          1
            white         1
            —            10
Length: 550, dtype: int64

In [43]:
# TASK 5
cp5=cp[(cp.body=='SUV')&((cp.saledate=='Fri Dec 19 2014 09:00:00 GMT-0800 (PST)')|(cp.saledate=='Thu Jan 15 2015 04:30:00 GMT-0800 (PST)'))]
z=cp5.groupby(by='saledate').size()
print('The sale in Jan with respect to the sale in Dec decreased by',(((z['Fri Dec 19 2014 09:00:00 GMT-0800 (PST)']-z['Thu Jan 15 2015 04:30:00 GMT-0800 (PST)'])/z['Fri Dec 19 2014 09:00:00 GMT-0800 (PST)'])*100),'%')

The sale in Jan with respect to the sale in Dec decreased by 45.518453427065026 %

In [61]:
# TASK 6
discount1=(cp[(cp.make=='Ford')|(cp.make=='Chevrolet')]['sellingprice'])*0.9
discount1

7          8820.0
9         15750.0
12        10800.0
14         9540.0
18        15300.0
           ...
558817    20070.0
558818    19800.0
558821    10260.0
558823    20700.0
558836    24030.0
Name: sellingprice, Length: 153751, dtype: float64

In [51]:
discount2=(cp[(cp.make!='Ford')&(cp.make!='Chevrolet')]['sellingprice'])*0.8
discount2

0         17200.0
1         17200.0
2         24000.0
3         22200.0
4         53600.0
           ...
558831    18240.0
558832    26400.0
558833    24640.0
558834    27200.0
558835     8880.0
Name: sellingprice, Length: 405086, dtype: float64

In [52]:
cp.insert(15,'Discounted_Price',0)

In [65]:
ind1=cp.index[(cp.make=='Ford')|(cp.make=='Chevrolet')]

In [66]:
ind2=cp.index[(cp.make!='Ford')&(cp.make!='Chevrolet')]

In [67]:
cp.at[ind1,'Discounted_Price']=discount1

In [70]:
cp.at[ind2,'Discounted_Price']=discount2

In [73]:
# TASK 7
del cp['vin']

In [74]:
del cp['saledate']

In [79]:
print(cp.isnull().sum())
print(cp.info())

year                    0
make                10301
model               10399
trim                10651
body                13195
transmission        65353
state                   1
condition           11794
odometer               94
color                 749
interior              749
seller                  0
mmr                     0
sellingprice            0
Discounted_Price        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   year              558837 non-null  int64
 1   make              548536 non-null  object
 2   model             548438 non-null  object
 3   trim              548186 non-null  object
 4   body              545642 non-null  object
 5   transmission      493484 non-null  object
 6   state             558836 non-null  object
 7   condition         547043 non-null  float64
 8   odometer          558743 non-null  float64
 9   color             558088 non-null  object
 10  interior          558088 non-null  object
 11  seller            558837 non-null  object
 12  mmr               558837 non-null  int64
 13  sellingprice      558837 non-null  int64
 14  Discounted_Price  558837 non-null  float64
dtypes: float64(3), int64(3), object(9)
memory usage: 64.0+ MB
None

In [80]:
condition_avg=cp['condition'].mean()

In [81]:
cp['condition']= cp['condition'].fillna(condition_avg)

In [82]:
odometer_avg=cp['odometer'].mean()

In [83]:
cp['odometer']= cp['odometer'].fillna(odometer_avg)

In [85]:
state=cp['state'].mode()
state

0    fl
dtype: object

In [104]:
cp['state']=cp['state'].fillna('fl')

In [87]:
color=cp['color'].mode()
color

0    black
dtype: object

In [106]:
cp['color']=cp['color'].fillna('black')

In [89]:
interior=cp['interior'].mode()
interior

0    black
dtype: object

In [107]:
cp['interior']=cp['interior'].fillna('black')

In [91]:
body=cp['body'].mode()
body

0    Sedan
dtype: object

In [108]:
cp['body']=cp['body'].fillna('Sedan')

In [93]:
tran=cp['transmission'].mode()
tran

0    automatic
dtype: object

In [109]:
cp['transmission']=cp['transmission'].fillna('automatic')

In [95]:
make=cp['make'].mode()
make

0    Ford
dtype: object

In [110]:
cp['make']=cp['make'].fillna('Ford')

In [97]:
model=cp['model'].mode()
model

0    Altima
dtype: object

In [111]:
cp['model']=cp['model'].fillna('Altima')

In [112]:
trim=cp['trim'].mode()
trim

0    Base
dtype: object

In [113]:
cp['trim']=cp['trim'].fillna('Base')

In [114]:
print(cp.isnull().sum())

year                0
make                0
model               0
trim                0
body                0
transmission        0
state               0
condition           0
odometer            0
color               0
interior            0
seller              0
mmr                 0
sellingprice        0
Discounted_Price    0
dtype: int64