In [9]:
rollno = 10   #practice 1a
print(rollno)
print(type(rollno))
print(id(rollno))

10
<class 'int'>
1649029376592

In [6]:
firstname= 'anurag'  #practice 1b
print(firstname)
print(type(firstname))
print(id(firstname))

anurag
<class 'str'>
1649109881008

In [7]:
lastname= 'pawar'  #practice 1c
print(lastname)
print(type(lastname))
print(id(lastname))

pawar
<class 'str'>
1649110327856

In [8]:
maxmarks = 50   #pactice 1d
print(maxmarks)
print(type(maxmarks))
print(id(maxmarks))

50
<class 'int'>
1649029377872

In [10]:
#practice 2a
var1 = 2 # code run successfully because variable is acceptable.

In [11]:
#practice 2b
2var = 2 #This code will give the error because here variable name is starting with a number. Variable name should not start with number.

SyntaxError: invalid syntax (Temp/ipykernel_2160/2646558462.py, line 2)

In [12]:
#practice 2c
var 1=2 #this code will give the error here because variable contains space. Variable should not contain any space.

SyntaxError: invalid syntax (Temp/ipykernel_2160/3099375595.py, line 2)

In [13]:
#practice 2d
var$2=2 # this code will give the error here because variable contains special charactors. Variable name should not contain special charactors.

SyntaxError: invalid syntax (Temp/ipykernel_2160/516795971.py, line 2)

In [14]:
#practice 3a
Class = 15

In [16]:
#practice 3b
class = 14 # this code will give the error here because variable name is a python keyword. Variable name should not be a keyword.

SyntaxError: invalid syntax (Temp/ipykernel_2160/974335821.py, line 2)

In [17]:
#practice 3c
DEF = 13

In [18]:
#practice 3d
def = 12 #this code will give the error here because variable name is a python keyword. Variable name should not be a keyword.

SyntaxError: invalid syntax (Temp/ipykernel_2160/815113518.py, line 2)

In [19]:
#practice 3e
a=TRUE #this code will give the error here because string should be in single or double quotation symbols.

NameError: name 'TRUE' is not defined

In [20]:
#practice 3f
b=false #this code will give the error here because string should be in single or double quotation symbols.

NameError: name 'false' is not defined

In [21]:
#practice 4a
marks = 25.5
print(marks)
print(type(marks))
print(id(marks))

25.5
<class 'float'>
1649110517040

In [22]:
#practice 4b
marks = 35.5
print(marks)
print(type(marks))
print(id(marks))
#practice 4c
#Here the ID is not same because the ID is always unique.

35.5
<class 'float'>
1649110517264

In [23]:
#practice 5a
print(marks/maxmarks*100,'%')

71.0 %

In [26]:
#practice 5b
fullname = firstname+' '+lastname
print(fullname)

anurag pawar

In [28]:
#practice 5c
print(fullname+' scored ',marks/maxmarks*100,'%')

anurag pawar scored  71.0 %

In [29]:
#practice 7a
1 + "2" #This code will give us error because here we are adding a string and a integer which are two different datatypes.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
#practice 7b
"1"+"2"

'12'

In [31]:
#practice 7c
1/2

0.5

In [33]:
#practice 7d
1//2

0

In [34]:
#practice 8a
True and True #we will get true because and operator will return true for both trues.

True

In [35]:
#practice 8b
True and False #we will get false because here is one false with the and operator.

False

In [36]:
#practice 8c
False or True #we will get true because here is one true with the or operator.

True

In [37]:
#practice 8d
False or False #we will get false because or operator will return false for both falses.

False

In [44]:
#practice 9a
firstname = 'Anurag'
fullname = 'Anurag Pawar'
print(firstname is fullname)

False

In [45]:
#practice 9b
print(firstname is not fullname)

True

In [46]:
#practice 10a
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)
print(d)

66

In [48]:
#practice 10b
print(e)
#practice 10c
#the values of d and e are different because of the addition of parenthesis in the equation of e.

1024

In [51]:
#practice 11
radius = 6
pi = 3.14
area_of_circle = pi* radius* radius
print(area_of_circle)

113.03999999999999

In [54]:
#practice 12
selling_price = 85
sales_tax = 18
tax = selling_price * sales_tax / 100
final_price = selling_price + tax
print(tax)
print(final_price)

15.3
100.3

In [56]:
#practice 13
print(3333/75,'$')

44.44 $

In [59]:
#practice 14
purchasing_power=500/1.07 #1.07x=500 therefore x= 500/1.07
print('The purchasing power for last year was =$',purchasing_power)

The purchasing power for last year was =$ 467.2897196261682